// out: css/main.css, sourcemap:true

//COLOR VARIABLES
@logo-red: darken(red, 30%);
@logo-red-mute: desaturate(@logo-red, 50%);
@logo-red-light: lighten(@logo-red, 70%);

//TYPE VARIABLES
@regular: 1em;
@large: @regular * 1.5;
@x-large: @large * 2;

body {
  background-color: @logo-red-mute;
  font-family: 'IM Fell French Canon', serif;
  font-size: @regular;
  color: @logo-red-light;
}

.page-container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  border-top: 15px solid @logo-red;
  font-family: 'Vibur', cursive;
  font-size: @large;
  color: white;

  + h2 {
    margin-top: -20px;
    font-weight: bold;
  }
}

h1 + h2 {
  margin-top: -20px;
}

h2 {
  font-size: @large;

  + p {
    margin-top: 36px;
  }
}

img {
  width: 30%;
  margin: 20px 20px 20px 0;
  float: left;
}

p {

  img {
    float: right;
    width: 100px;
    margin-left: 20px;
    margin-right: 0;
  }

}

//BREAKPOINTS
@media screen and (min-width: 550px) {
  h1 {
    font-size: @x-large;
  }

  .page-container {
    width: 80%;
  }
}

@media screen and (min-width: 900px) {

  body {
    font-size 1.2em;
  }
}
